<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your ticket for <%= @task_type.name %> has been sent!</h1>
    <p>
      To view this ticket, just follow this link: <%= @url %>.
    </p>
    <p> You should recieve a follow up in soon! </p>
  </body>
</html>