<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new ticket has been created for <%= @task_type.name %></h1>
    <p>
      You are being emailed because you are a project admin.
    </p>
    <p>
      To view this ticket, just follow this link: <%= @url %>.
    </p>
  </body>
</html>