<!-- Will display comments -->
<!-- Option to delete comments -->

<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<!-- #TODO: IF commenterID == currentUserID || currentUserID.isAdmin == True, then display. Else, hide. -->
<p>
  <%= link_to 'Delete Comment', [comment.task, comment],
               method: :delete,
               data: { confirm: 'Are you sure you want to delete this comment?' } %>
</p>