<% if logged_in? %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
        <li class="breadcrumb-item"><a href="/task_types">Departments</a></li>
    </ol>
</nav>
<h1>Departments</h1>
<div class="container-fluid">
    <div class="card-deck">
        <% @task_type.each do |task_type|%>
        <div class="card">
            <div class="card-header"> 
                <strong><%= task_type.name %></strong>
            </div>
            <div class="card-body">
                <p class="card-text"><%= task_type.description %></p>
                <%= link_to "View Tasks", task_type_path(task_type), class: "btn btn-primary"%>
            </div>
        </div>
        <% end%>
    </div>
</div>
<% else %>
    <%= render 'errors/not_signed_in' %>
<% end %>