<% if logged_in? && isAdmin? %>
    <h1>Groups</h1>

    <%= link_to 'Add New Group', new_task_type_path %><br><br> <!-- Move this to new page -->

    <% @task_type.each do |task_type|%>
    <h2><%=link_to "#{task_type.name}", task_type_path(task_type) %></h2>
    <% end%>
    <br>
    <br>
    <%= link_to 'Back', admin_path %>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>