<div class="container-fluid">
    <h1>All Tasks</h1>
    <% unless @task_type_option.nil? %>
        <% if @task_type_option.can_create %>
            <%= link_to fa_icon('plus-circle', text:'New Task'), new_task_path(:task_type_id => params[:id]), class: "btn btn-primary" %><br><br>
        <% end %>
    <% end %>
</div>
<div class="container-fluid">
<% unless @task.nil? %>
    <table class="table table-borderless table-hover table-sm w-50">
    <thead>
        <tr>
            <th>Department</th>
            <th>Title</th>
            <th>Priority</th>
        </tr>
    </thead>
    
    <% @task.each do |task| %>
    <tbody> 
        <tr>
            <td><%= (TaskType.find_by_id(task.task_type_id)).name %></td>
            <td><%= link_to "#{task.title}", task_path(task)  %></td>
            <td><%= task.priority.nil? ? "" : task_priority(task) %></td>
        </tr>
    </tbody>
    <% end %>
    </table><br>
<% else %>
    You need to be assigned to a department first.
<% end %>
</div>