<h1>All Tasks</h1>

<table class="table table-borderless table-hover table-sm w-50">
  <thead>
      <tr>
          <th>Department</th>
          <th>Title</th>
          <th>Priority</th>
      </tr>
  </thead>
  <% @task.each do |task| %>
  <tbody> 
      <tr>
          <td><%= (TaskType.find_by_id(task.task_type_id)).name %></td>
          <td><%= task.title %></td>
          <td><%= task.priority.nil? ? "" : task_priority(task) %></td>
          <td><%= link_to 'Show', task_path(task) %></td>
      </tr>
  </tbody>
  <% end %>
</table><br>