<h1>Administration</h1>
<h4>Use this page to view/edit data</h4>

<%= link_to 'Users', users_path %><br>
<%= link_to 'Task-Types (GROUPS/DEPARTMENTS)', task_types_path %><br>
<%= link_to 'User-Groups (ROLES/PERMISSIONS)', user_groups_path%><br><br>
<!-- Roles and Permissions -->


<%= link_to 'Back', tasks_path %><br>
