<h1> <%= @user.full_name %>'s Roles & Permissions </h1>
<% if @task_type_option.nil? || @user_group.nil?%>
    <h2>No roles/permissions assigned to this user</h2>
<% else %>
    <table>
        <tr>
            <th>Role</th>
            <th>Department</th>
        </tr>
        <% @user.user_groups.each do |user_group|%>        
        <tr>
            <tr>
            <td><%= link_to "#{user_group.task_type_option.name}", task_type_option_path(user_group.task_type_option)%></td>
            <td><%= user_group.task_type_option.task_type.name%>
            <td><%= link_to 'Remove', user_group_path(user_group),
                method: :delete,
                data: { confirm: "Are you sure you want to remove this role from #{@user.full_name}?" } %></td><br>
        </tr>
        <% end %>
    </table>
<% end %>