<div class="container-fluid">
  <h1>Welcome,</h1>
  <h1><strong><%= current_user.full_name %></strong></h1>
  <h5><%=Time.now.strftime("%m/%d/%Y") %></h5>
</div>
<div class="container-fluid">
  <br>
  <% if @task.present?%>
  <h2>Assigned to you:</h2><br>
    <%= render 'tasks/assigned_to_user'%>
  <% else %>
    <h3> No tasks assigned to you.</h3>
  <% end %>
</div><br>

<script>
  // Allow user to click anywhere on list-group-item and be redirected to task
  $(document).ready(function() {
    $('.list-group-item-linkable').on('click', function() {
        window.location.href = $(this).data('link');
    });

    $('.list-group-item-linkable a, .list-group-item-linkable button')
    .on('click', function(e) {
        e.stopPropagation();
    });
  });
</script>

