<div class="jumbotron text-center">
  <h1 class="display-4">Welcome, to Task Manager!</h1>
  <p class="lead">This application is for the use of <strong>Varland Metal Service</strong> employee's to view tasks or request maintenance.</p>
  <hr class="my-4">
  <p>Please select one of the following to begin.</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
  <a class="btn btn-primary btn-lg" href="/ticket" role="button">File a Ticket</a>
</div>