<% @task.file_attachments.each do |file_attachment|%>
    <% if (file_attachment.file).present? %>
        <a href="<%= file_attachment.file.url %>" target="_blank"><%= image_tag(file_attachment.file.url, size:'32') if !file_attachment.blank? %></a>
        <%if @task.persisted?%>
            <%= link_to 'Remove', [file_attachment.task, file_attachment],
                    method: :delete,
                    data: { confirm: 'Are you sure you want to remove this attachment?' } %><br>
        <%end%>
    <%end%>
<% end %>
