<% if logged_in? && isAdmin? %>
<div class="container">
    <div class="py-4 text-center">
        <h1> New <%= "#{@task_type_name}"%> Role Configuration </h1>
    </div>
    <%= render 'form' %>
</div>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>