<!-- Flash Messages -->
<div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= flash_class(key)%> text-center" role="alert">
            <%= sanitize(value) %>
        </div>
    <% end %>
</div>

<script>
    // Positive alert messages fade out much quicker.
    $(".alert-success" ).fadeOut(3500);
    $(".alert-info" ).fadeOut(3500);
    $(".alert-warning" ).fadeOut(7000);
    $(".alert-danger" ).fadeOut(7000);

    // Negative alert messages disappear after a 10s.
   /* setTimeout(function () {
      $(".alert-warning").hide();
      $(".alert-danger").hide();
    }, 10000);*/
</script>