<!-- Flash Messages -->
<div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= flash_class(key)%> text-center" role="alert">
            <%= sanitize(value) %>
        </div>
    <% end %>
</div>