<!-- Footer -->
<footer class="footer font-small bg-dark">

  <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright:
    <a href="http://www.varland.com/"> Varland Metal Service</a>
  </div>

</footer>
<!-- Footer -->
